.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2em;
  font-size: 16px;
  width: 100vw;
}

.App-header {
  background-color: white;
  color: gray;
  font-size: 1.5em;
}

.Control-bar {
  display: flex;
  flex-direction: row;
}
